<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <br><br>
    <section>
        <div class="about" id="About">
            <div class="about-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d244.7066924101479!2d-77.59406225799408!3d-11.090475843597964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1738257975907!5m2!1ses-419!2spe" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="abt-res"></iframe>
              
            </div>
            <div class="about-text">
                <h2>Sobre <span>Mi</span></h2>
                <p>Soy un estudiante de Ingeniería Informática enfocado en el desarrollo web, especialmente en el área de front-end. 
                    Tengo un sólido dominio de tecnologías como JavaScript, Python, HTML, CSS, Git y SQL. A lo largo de mi carrera, 
                    he trabajado en varios proyectos personales que me han permitido aplicar mis conocimientos y mejorar mis habilidades.
                     Me apasiona crear interfaces intuitivas y funcionales, y siempre estoy en la búsqueda de nuevos retos para seguir 
                     creciendo como desarrollador.<br>
                    <br>
                    <a href="https://drive.google.com/file/d/1g2EBofdAe6FU6Z9g-Sow0RxWJxRdbllg/view?usp=sharing" style="--i:11" class="abtbtn-box" target="_blank">Descargar Resumen</a>
                </p>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>