<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <br><br>
    <section id="Projects">
        <div id="portfolio" class="services">
            <div class="main-text" id="serv">
                <h2>My <span>Proyectos</span></h2>
                <div class="serv-container">
                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Landing Peruanito</h5>
                            <p>Creacion de una landing para un Resturante "El Peruanito" de comida criolla. Trabajo realizado en equipo.</p>

                            <a href="#"><i class='bx bxs-face-mask' style="color: aliceblue;"></i></a>

                        </div>
                    </div>

                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Pag Web Riazer</h5>
                            <p>Creacion de una pagina web con Base de datos, implementado para un trabajo de la Universidad</p>

                            <a href="#"><i class='bx bxs-low-vision' style="color: aliceblue;"></i></a>
                            
                        </div>
                    </div>

                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Landing Codemarq</h5>
                            <p>Creacion de una Landing para una tienda online de la empresa "Codemarq", aun en desarrollo.</p>

                            <a href="#"><i class='bx bx-desktop' style="color: aliceblue;"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>