
<!-- Navigation -->
<header class="header">
            
    <a href="#" class="logo">Portafolio</a>
    <nav class="navbar" id="myLinks">
        <a href="/" style="--i:1" class="active" >Inicio</a>
        <a href="/about" style="--i:2">Sobre Mi</a>
        <a href="/habilidades" style="--i:3">Habilidades</a>
        <a href="/proyectos" style="--i:4">Proyectos</a>
        <a href="/contacto" style="--i:5">Servicios</a>
    </nav>
</header>